<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Start the travelers</h1>
    <h3>Let's Share the spot you went</h3>
    <% if logged_in? %>
    <p class="lead"><%= @user.name %>さんでログイン中です</p>
    <% end %>

    <br>
    <% unless logged_in? %>
    <a href="/sessions/new" class="btn btn-danger btn-lg">ログイン</a>
    <br>
    <br>
    <% end %>
    <% unless logged_in? %>
    <a href="#about" class="btn btn-dark btn-lg">このサイトについて</a>
    <br>
    <br>
    <% else %>
    <a href="#about" class="btn btn-danger btn-lg">このサイトについて</a>
    <br>
    <br>
    <% end %>

    <a href="#map" class="btn btn-dark btn-lg">現在地を確認する</a>
  </div>
</header>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-left">

        <div class="col-xs-12 offset-2 text-left">
          <h1>
            <i class="fa fa-dribbble fa-fw fa-2x"></i>
            <strong>This site is・・</strong>
          </h1>

          <p class="lead">ここでは他の旅行情報サイトではあまり触れられていない裏情報を検索できます。<br>
            主に、、弾丸traveler向けです。完全に作者目線ですがご容赦ください（笑）</p><br><br>
        </div>

        <div class="col-md-12 offset-2 text-right ">
          <h1>
            <i class="fa fas fa-wifi fa-fw fa-2x"></i>
            <strong>For wifi・・</strong>
          </h1>

          <p class="lead">自身でwifiを契約している方は、旅先でちゃんと使えるのか気になりませんか？<br>
            提供エリアは事業者のウェブサイトで調べられますが、<br>
            実際に行って見ると、建物の中は圏外だったなんて経験はありませんか？<br>
            ここでは、wifi事業者・入り具合を検索または新しく登録することができます。</p><br><br>
        </div>

        <div class="col-xs-12 offset-2 text-left ">
          <h1>
            <i class="fa fas fa-female fa-fw fa-2x"></i>
            <strong>For toilet・・</strong>
          </h1>

          <p class="lead">旅先でトイレに行きたくなった時、どこにあるのかは地図に書いているけれど<br>
            弾丸travelerにとって、重要なポイントは時間との勝負ではないかとも思います。<br>
            実際にトイレの場所はわかっても、travelerにとって快適であるか情報収集するのは難しいと思いませんか？<br>
            ここでは、清潔度・個室の数・荷物スペースがあるかを検索または新しく登録することができます。</p><br><br>
        </div>

        <div class="col-md-12 offset-2 text-right ">
          <h1>
            <i class="fa fas fa-medkit fa-fw fa-2x"></i>
            <strong>For trouble・・</strong>
          </h1>

          <p class="lead">旅先でトラブルはつきものです。<br>
            不測の事態も時には生じます。<br>
            例えば、現金をおろしたい！となった時に近くにATMがあれば助かりますよね。<br>
            ここでは、最寄のATM・駅・バス停・薬局があるかを検索または新しく登録することができます。</p><br><br>
        </div>


        <hr>

      </div>
    </div>
  </div>
</section>

<div class="col-lg-10 col-lg-offset-1 text-center">
  <h2>あなたの現在地</h2>
</div>
  <hr class="small">

<section id="map" class="portfolio">
  <div id="map"></div>
  <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfjVFYUNRpLBQbWIBnpXU7yCvb-Q91Cac&callback=initMap"></script>
</section>
<!-- <% ENV["YOUR_API_KEY"] %> -->
