
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Start the traveler</h1>
        <h3>Free Bootstrap Themes &amp; Templates</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">ログイン</a>
        <br>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">このサイトについて</a>
    </div>
</header>

<div id="map"></div>

<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=<% ENV[" YOUR_API_KEY"] %>&callback=initMap"></script>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<aside class="callout">
    <div class="text-vertical-center">
        <h1>Vertically Centered Text</h1>
    </div>
</aside>



<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Work</h2>
                <hr class="small">
                <div class="row">

                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/20170602_newpost_Fotor.jpg">
                            </a>

                        </div>
                        </div>

                        <div class="col-md-3">
                            <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/20170722_indexpost_Fotor.jpg">
                            </a>
                        </div>
                          </div>

                    <div class="col-md-3">
                        <li class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/20170811_contactpost_Fotor.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/20170908_topposts_Fotor.jpg">
                            </a>




                        </div>
                    </div>

</div>


</div>


                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>



<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>The buttons below are impossible to resist.</h3>
                <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
            </div>
        </div>
    </div>
</aside>


<!-- <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</section> -->
