
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>

      <h3 class="post-subtitle">
        <p><%= image_tag(post.user.image , size: 30) %>
          <%= comment.user.name %></p>
        <p><%= comment.content %></p>

        <% if comment.user == current_user %>
          <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
        <% end %>
      </h3>
    <% end %>
  <% end %>
