<aside class="callout">
    <div class="text-vertical-center">
        <h1>contact?</h1>
    </div>
</aside>

<div name="sentMessage" id="contactForm" novalidate="novalidate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">当サイトに関するお問い合わせはこちらからお願いします</p>

  </div>
  <br>
  <%= render 'form', contact: @contact %>

<br><br>
</div>
