// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}

.callout {
  margin-bottom: 50px;
}

.key {
    color: red;
    text-align: center;
}
.input-group-btn {
  display: table-cell;
}
