<div name="sentMessage" id="contactForm" novalidate="novalidate">
         <%= form_with(model: @user, local: true) do |f| %>
         <div class="row control-group">


           <div class="form-group col-xs-12 floating-label-form-group controls">


             <%= f.label :name %>
             <%= f.text_field :name ,class: "form-control" ,placeholder: "Name"%>


           </div>
         </div>
         <div class="row control-group">
           <div class="form-group col-xs-12 floating-label-form-group controls">
             <%= f.label :email %>
             <%= f.email_field :email ,class: "form-control" ,placeholder:"Email Address" %>


             <p class="help-block text-danger"></p>
           </div>
         </div>
         <div class="row control-group">
           <div class="form-group col-xs-12 floating-label-form-group controls">
             <%= f.label :password %>
             <%= f.password_field :password,class: "form-control" ,placeholder: "password" %>
             <p class="help-block text-danger"></p>
           </div>
         </div>
         <div class="row control-group">
           <div class="form-group col-xs-12 floating-label-form-group controls">
             <%= f.label :password_confirmation %>
             <%= f.password_field :password_confirmation ,class: "form-control" , placeholder: "password(確認用)"%>
             <p class="help-block text-danger"></p>
           </div>
         </div>
         <div class="row control-group">
           <div class="form-group col-xs-12 floating-label-form-group controls">
             <br>
             <%= f.file_field :image, id: :feed_image %>
             <%= f.hidden_field :image_cache %>
             <br>
           </div>
         </div>


         <br>
         <%= f.submit "Send" ,class:"btn btn-default" %>
       <% end %>


     </div>
   <!-- </div>
 </div>
 </div> -->
 <hr>
